.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

body{
	font-family: 'Staatliches', cursive;
	background-color: #FF851B;
}

input,select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}

input:focus{
	-moz-box-shadow: 0 0 8px #f6b93b;
	-webkit-box-shadow: 0 0 8px #f6b93b;
	box-shadow: 0 0 8px #f6b93b;
	border: 1px solid #f6b93b;
}

select:focus {
	-moz-box-shadow: 0 0 8px #f6b93b;
	-webkit-box-shadow: 0 0 8px #f6b93b;
	box-shadow: 0 0 8px #f6b93b;
	border: 1px solid #f6b93b;
}

.button {
color: #494949 !important;
text-transform: uppercase;
background: #ffffff;
padding: 20px;
border: 4px solid #494949 !important;
border-radius: 6px;
display: inline-block;
}

.button:hover {
color: #ffffff !important;
background: #f6b93b;
border-color: #f6b93b !important;
transition: all 0.4s ease 0s;
}

textarea:focus{
	background: #f6b93b;
	background-color: #f6b93b;
}